In [1]:
import pandas as pd

In [2]:
file_list = ['/home/image003/xunfei/results/apple-results-0.9471158554500049.csv',"/home/image003/xunfei/results/apple-results-0.9608265595925962.csv","/home/image003/xunfei/results/apple-results-0.9958867887572226.csv"]

In [3]:
pd_list = [ pd.read_csv(path) for path in file_list]

In [4]:
# 合并表格
merged_df = pd.concat(pd_list,axis = 1)
# 创建ans表格
ans = pd.DataFrame()
ans["uuid"] = pd_list[0]["uuid"]
ans["label"] = merged_df['label'].mode(axis=1)[0]
ans

                uuid label
0     0001348010.jpg    d1
1      000623946.jpg    d9
2      000767853.jpg    d2
3      001043027.jpg    d9
4      001121349.jpg    d1
...              ...   ...
4366   999192160.jpg    d9
4367   999614360.jpg    d9
4368   999727804.jpg    d9
4369  9997443683.jpg    d3
4370   999809480.jpg    d4

[4371 rows x 2 columns]

In [ ]:
ans.to_csv("./ans.csv")

0       d1
1       d9
2       d2
3       d9
4       d1
        ..
4366    d9
4367    d9
4368    d9
4369    d3
4370    d4
Name: 0, Length: 4371, dtype: object